<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">

  <title>Document</title>
 </head>
 <body>
 <form ng-submit="editadmin()">
 <div class="bar bar-header bar-positive">
  <h1 class="title">***แก้ไขผู้ดูแลระบบ***</h1>
</div>
<div class="list has-subheader">
    <label class="item item-input">
    <span class="input-label">ID : </span>
    <input type="text" ng-model="EditAdminData.editadmin.id">
  </label>
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text" ng-model="EditAdminData.editadmin.username">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password" ng-model="EditAdminData.editadmin.password">
  </label>
  <button type ="submit" class="button button-block button-positive">
  แก้ไข
</button>
</div>
</form>

 </body>
</html>
